/*
Nombre Tema: Chequeate Design
Tema URI:
Autor: DevelUP TEAM
Autor URI: www.develup.com
Descripción: Tema diseñado unicamente para www.chequeate.com
Licencia: All Right Reserved
Licencia URI: http://www.gnu.org/licenses/gpl-2.0.html
Etiquetas: n

*/

@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
h2 {
    margin: 0px;
}




.menu2{

    position: relative;
    left: 500px;
    bottom: 10px;
}

.menusuperior{


  float: right;
  margin-right: 5px;

}

.menusuperior a{
    font-color: white;
    margin-right: 5px;
}


.boton_index{

    border-radius: 8px;
    background: rgba(180,25,4,.8);
    padding: 5px 50px 5px 50px;
    cursor: pointer;
    margin: auto;
}

* {

    margin: 0px;
    box-sizing: border-box;
    font-family: "Droid Sans";
    text-decoration: none;
}

body {
    background: rgba(240, 240, 240, 0.9);
}

header {
    width: 100%;
    background: #FA8029;
    box-shadow: 0px 2px 12px 1px black;
    border: 2px solid rgba(1, 128, 176, .8);
    border-bottom: 5% #FCC39A;
}

header * {
    display: inline-block;
}

.logo {
    width: 450px;
    height: 150px;
    margin-left: 5%;
}


/*header p {
    font-size: 32px;
    display: inline-block;
    position: relative;
    bottom: 25px;
    font-family: Verdana;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    color: white;
    font-weight: bold;
}*/

nav li {
    list-style: none;
    display: inline-block;
}

.contenedor {
    background: white;
    width: 85%;
    margin: 30px auto 10px auto;
    border: 1px solid rgba(0, 0, 0, 0.3);

}

.secciones {
    margin: 0px auto auto auto;
    overflow: auto;
    background: white;
    padding: 25px;
    width: 100%;
    padding-left: 100px;
    box-shadow: 0px 2px 0px 1px rgba(20,20,20,.5);

}

.seccion {
    display: inline-block;
    height: 300px;
    padding: 10px 10px 10px 10px;
    border: 1px solid black;
    margin: 5px;
    border-radius: 2px;


}

.seccion h1 {
    color: rgba(55, 55, 55, 1);
    font-size: 20px;
    margin-top: 8px;
    /*transition: margin-top .25s ease-in-out;
    -webkit-transition:  margin-top .25s ease-in-out;*/
    /*-webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: white;*/
}

.seccion a {
    font-size: 10px;
    text-align: center;
    margin-right: 15px;
    font-family: Verdana;
    color: red;
    font-weight: bold;
}

.seccion img {
    width: 260px;
    height: 158px;
}

#destacados {
    margin-top: 5%;
    width: 15%;
    height: 400px;
    display: inline-block;
    background-color: rgba(220, 220, 220, 0.5);
    margin-right: 2%;
    margin-left: 2%;
    -webkit-transition: margin 0.5s ease-out;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 1);
    -webkit-transition: box-shadow .5s, border 1s,padding 1s;
    transition: box-shadow .5s, border 1s, padding 1s;
     border-radius: 15px;


}



#destacados:hover{


}




{

}


.publicacionesindex h1 {
    font-size: 20px;
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

.publicacionesindex {
    font-size: 14px;
    color: black;
    font-weight: bold;


}



}


/******************************************************/

#menu {
    background-color: #F6984F;
    list-style: none;
    width: auto;
    position: relative;
    display: block;
    height: 36px;
    border-radius: 0px 80px 0px 79px;
}

#menu li {
    float: left;
    display: block;
    position: relative;
    margin-left: 1%;
    margin-right: 5%;
}

#menu li a {
    color: #000000;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.3em;
    padding: 10px 14px 8px 16px;
    display: block;
    -webkit-text-stroke: 1px #0E1E17;
    text-shadow: 0px 2px 3px #555;
}

#menu li ul {
    background: #F8F8F8;
    border: 1px #ccc solid;
    display: none;
    position: absolute;
    z-index: 999;
    margin-top: 32%;
    float: left;
}

#menu li ul li {
    width: 100%;
    list-style: none;
    display: block;
}

#menu li ul li a {
    color: #21759b;
    font-size: 14px;
    line-height: 1.3em;
    display: block;
    font-weight: normal;
    padding: 8px;
}

#menu:hover li ul li a:hover {
    background-color: #FFF;
    color: #444;
    text-decoration: underline;
}

#menu:hover li:hover ul {
    display: block;
}


/*----------------------------FOOOTER-----------------------------------*/


/*----------------------------!!!!!!!-----------------------------------*/

footer {
    overflow: auto;
    box-shadow: 1px -1px 5px 2px rgba(0,0,0,.7);
}

footer img {
    float: right;
}

.contenedordivisor {
    width: 100%;
    background: white;
    padding: 25px 25px 1px 25px;
    background: rgba(235, 235, 235, 1);
    border-bottom: 1px solid rgba(128, 128, 128, 1);
    border-top: 1px solid rgba(150,150,150,.5);
}

.divisor {
    width: 24%;
    height: 100px;
    display: inline-block;
    padding: 0px 15px 0px 15px;
    overflow: auto;
}

.divisor>div {
    border-bottom: 1px solid black;
    padding-bottom: 8px;
    margin-bottom: 8px;
}

.divisor h1 {
    font-size: 18px;
    font-family: Helvetica;
}

.divisor input {
    width: 100%;
    padding: 10px 0px 10px 0px;
}

.divisor img {
    float: left;
}

.divisor a {
    display: block;
}

.underfooter {
    background: white;
    padding: 10px 25px 5px 25px;
}

.underfooter .divisor {
    background: white;
    height: auto;
}
