/*
Nombre Tema: Chequeate Design
Tema URI:
Autor: DevelUP TEAM
Autor URI: www.develup.com
Descripción: Tema diseñado unicamente para www.chequeate.com
Licencia: All Right Reserved
Licencia URI: http://www.gnu.org/licenses/gpl-2.0.html
Etiquetas: n

*/


@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
h2 {
    margin: 0px;
}

* {
    margin: 0px;
    box-sizing: border-box;
    font-family: "Droid Sans";
    text-decoration: none;
}



body {
    background: white;
    border-top:30px solid #FCC39A;
    border-right:30px solid #FCC39A;
    border-left: 30px solid #FCC39A;



}

header {
    width: 100%;
    background:#FA8029;
    box-shadow: 0px 2px 12px 1px black;
    height: 107px;
    background-image: url(imagenes/landscape.png);
    background-size: cover;
    background-repeat: no-repeat;
  	border: 2px solid rgba(1,128,176,.8);
    position: relative;
    border-bottom:5% #FCC39A;


}

.logo {
    width: 300px;
    height: 100px;
    margin-left: 5%;
}

header p {
    font-size: 32px;
    display: inline-block;
    position: relative;
    bottom: 25px;
    font-family: Verdana;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    color: white;
    font-weight: bold;
}

a{

	float: right;
	padding: 5px;
	margin-right: 20px;
	color: white;
}



nav li{
    list-style: none;
	display:inline-block;
}

body > header > form{
  float: right;
  position: relative;
  top: 35px;
  left: 0px;

}


.menu2{

	float: right;
	position: relative;
	top: 65px;
	left: 0px;
  margin-right: 5%;
}

.search {
    background: white;
    height: 400px;
    width: 90%;
    margin: 60px auto 10px auto;
    padding: 80px;
    /*background-image: url('imagenes/fondo.jpg');*/
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 6px;
    box-shadow: 0px -2px 12px 6px rgba(170, 212, 0, 0.8) inset;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.search input {
    padding: 1% 20%;
    margin-left: 21%;
    margin-top: 110px;
}

.search img {
    position: absolute;
    left: 82%;
    top: 140px;
}

.masrecomendados {
    background: white;
    border: 2px solid rgba(0, 0, 0, 1);
    margin: 80px auto 20px auto;
    width: 90%;
    padding: 20px;
    box-shadow: 1px 2px 18px 0px rgba(0, 131, 143, 0.8) inset;
    overflow: auto;
    border-radius: 0px 6px 6px 6px;
}

.recomendados {
    float: left;
    border: 2px solid navy;
    width: 20%;
    height: 180px;
}

.maschequeados {
    background: rgba(0, 131, 143, 1);
    font-size: 40px;
    display: inline-block;
    position: relative;
    left: 5%;
    padding: 10px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    top: 80px;
    border-radius: 6px 6px 0px 0px;
    box-shadow: 0px -2px 18px 3px rgba(0, 0, 0, 0.5) inset;
}

.secciones {
    width: 100%;
    margin: 5% auto 25px auto;
    overflow: auto;
    background: white;
}

.seccion {
    text-align: center;
    float: left;
    width: 20%;
    height: 180px;
    margin: 10px;
    border-radius: 4px;
    box-shadow: 1px 1px 8px 1px black inset, -3px 2px 8px 1px rgba(0, 0, 0, 0.5);
    margin-right: 2%;
    margin-left: 2%;
    /*transition: border .25s ease-in-out;
    -webkit-transition: border.25s ease-in-out;*/
}


.seccion h2 {
    color: black;
    font-weight: bold;
    font-size: 30px;
    margin-top: 70px;
    transition: margin-top .25s ease-in-out;
    -webkit-transition:  margin-top .25s ease-in-out;
    /*-webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: white;*/
}

.seccion nav {
    display: initial;
}


.seccion a{

    font-size: 0px;
    text-align: center;
    margin-right: 15px;
    font-family: Verdana;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    color: white;
    font-weight: bold;

}


.mascomentados {
    background: rgba(34, 85, 0, 1);
    font-size: 40px;
    display: inline-block;
    position: absolute;
    left: 5%;
    padding: 10px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-radius: 6px 6px 0px 0px;
    box-shadow: 0px -2px 18px 3px rgba(0, 0, 0, 0.5) inset;
}

.masvisitados {
    background: white;
    border: 2px solid rgba(0, 0, 0, 1);
    margin: 94px auto 20px auto;
    width: 90%;
    padding: 20px;
    box-shadow: 1px 2px 18px 0px rgba(34, 85, 0, 0.8) inset;
    overflow: auto;
    border-radius: 0px 6px 6px 6px;
}

.visitados {
    float: left;
    border: 2px solid navy;
    width: 20%;
    height: 180px;
}


.seccion:hover h2{
    margin-top: 10px;
}





.seccion:hover a{

 font-size: 150%;
 cursor: pointer;
 margin-right: 30%;
 border: 1px solid #DEB887;
 border-radius: 10px;

}

.seccion:hover{
    border:3px solid rgba(170,212,1,0.5);
}



footer {
    background: rgba(158, 158, 158, 1);
    height: 80px;
    box-shadow: 0px -2px 12px 1px black;
    border: 4px solid rgba(128, 128, 128, 1);
}

footer span {
    float: right;
    margin-top: 7px;
    font-size: 24px;
}

footer img {
    float: right;
}


/******************************************************/



#menu{
background-color:#F6984F;
list-style:none;
width:auto;
position:relative;
display:block;
height:36px;
border-radius:  0px 80px 0px 79px;

}
#menu li{
float:left;
display:block;
position:relative;
margin-left: 1%;
margin-right: 5%;
}
#menu li a{
color:#000000;
text-decoration:none;
font-family:Helvetica, Arial, sans-serif;
font-size:16px;
line-height:1.3em;
padding:10px 14px 8px 16px;
display:block;
 -webkit-text-stroke: 1px #0E1E17;
 text-shadow: 0px 2px 3px #555;
}
#menu li ul{

background:#F8F8F8;
border:1px #ccc solid;
display:none;
position:absolute;
z-index:999;
margin-top:32%  ;
float: left;
}
#menu li ul li{

width:100%;
list-style:none;
display:block;
}
#menu li ul li a{
color:#21759b;
font-size:14px;
line-height:1.3em;
display:block;
font-weight:normal;
padding:8px;
}

#menu:hover li ul li a:hover{
background-color:#FFF;
color:#444;
text-decoration:underline;
}

#menu:hover li:hover ul{
display:block;
}

/*************************************************************/


body > div.cuerpo

.cuerpo {
	width:100%;
  max-height: 400px;
}

.slides {
	width:100%;
  margin-top: 5%;
}

.slides img {
	width:100%;
  padding-left: 2%;
  padding-right: 2%;
  max-height: 500px;
  min-height: 500px;
}

body > div.cuerpo > div > div > div > div > h2{
margin-left: 2%;

}
body > div.cuerpo > div > div > div > div > h3{
margin-left: 2%;
margin-bottom: 10px;

}

body > div.cuerpo > div > div > div > div > p{
  margin-top: 3%;
  padding-left: 2%;
  padding-right: 2%;
  text-align: justify;
  font-family: sans-serif;

}
.slidesjs-pagination {
  float: top;
  background: white;
	list-style:none;
	overflow:hidden;
}

.slidesjs-pagination li {
	float:left;
  margin-right: 0px;
  margin: 0px;
}

.slidesjs-pagination li a {
	display:block;
	padding:10px 50px;
	color:#fff;
	text-decoration:none;
  font-size: 0px;
  margin-right: 0px;
}

.slidesjs-pagination li a:hover {
	background:#000;
}

.slides .active {
	background:#000;
}


.slidesjs-navigation{
	background:#000;
	color:#fff;
	text-decoration:none;
	display:inline-block;
  padding:10px 50px;
	float:right;
  font-size: 16px;
  margin-right: 0px;
}

body > div.Promociones {

  margin-top: 5%;
  border-top: 1px solid;
  margin-bottom: 5%;
  padding-left: 20px;

}

.Promociones h2{
  margin-top: 2%;
}
.Promociones p {
  margin-top: 5px;
  font-style: italic;
}
